@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');
@import url('./reset.css');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f4f1de;
    color: #3d405b;
}

.header_container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
}

.header_title {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.main_container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_provide-data {
    margin: 2rem 0;
    width: 80%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e07a5f;
    border-radius: .5rem;
}

.main_receive-data {
    margin-bottom: 2rem;
    width: 80%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #81b29a;
    border-radius: .5rem;
}

.main_library {
    display: none;
    margin-bottom: 2rem;
    width: 80%;
    padding: 1.5rem;
    align-items: center;
    flex-direction: column;
    background-color: #f2cc8f;
    border-radius: .5rem;
}

.main_header-text {
    margin-bottom: .8rem;
    font-weight: bold;
}

.main_input {
    border-radius: .5rem;
    border-color: #f4f1de;
    border-style: solid;
    padding: .2rem .5rem;
    background-color: #f4f1de;
    width: 50%;
    margin-right: .5rem;
}

.main_input:focus {
    outline: none;
    border-color: #81b29a;
}

.main_btn {
    background-color: #3d405b;
    border-radius: .5rem;
    border-color: #3d405b;
    border-style: solid;
    padding: 0.2rem 0.5rem;
    color: #f2cc8f;
    cursor: pointer;
}

.main_container-encrypt {
    width: 90%;
    display: flex;
    justify-content: center;
}

.main_container-encrypted {
    display: flex;
    width: 90%;
    height: 1.4rem;
    padding: .5rem .5rem;
    background-color: #f2cc8f;
    border-radius: .5rem;
    justify-content: center;
    position: relative;
    align-items: center;
}

.iconStyles {
    position: absolute;
    right: 0.5rem;
    top:0.4rem;
    background-color: #f4f1de;
    border-radius: .5rem;
    padding: .3rem;
    cursor: pointer;
}

.main_encrypted-text  {
    max-width: 80%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: .2rem;
}

.main_encrypted-text::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background-color: #F5F5F5;
}

.main_encrypted-text::-webkit-scrollbar
{
    height: 0.2rem;
}

.main_encrypted-text::-webkit-scrollbar-thumb
{
    background-color: #e07a5f;
}

.main_container-library {
    display: flex;
    width: 100%;
}

.main_container-decrypted-box {
    width: 40%;
}

.main_container-encrypted-box {
    width: 40%;
}

.main_container-box {
    width: 10%;
}

.main_library-header-text {
    padding-bottom: 0.5rem;
}

.liRemove {
    display:flex;
    justify-content: center;
    border-radius: .5rem;
    cursor: pointer;
}

.liStyles {
    padding: .2rem 0;
    margin: .1rem 0;
}